<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Suika</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	
	{% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
			<div class="potition-absolute tm-site-header">
				<div class="container-fluid position-relative">
					<div class="row">						
                        <div class="col-7 col-md-4">
                            <a href="/index/0" class="text-center tm-logo-container">
                                <img src="{% static 'img/logo.png' %}" alt="Image" width="150" height="150"> 
                                <h1 class="tm-site-name">Suika</h1>
                            </a>
                        </div>
                        <div class="col-5 col-md-8 ml-auto mr-0">
                            <div class="tm-site-nav">
                                <nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
                                    <button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
                                        data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span>
                                            <i class="fas fa-bars tm-menu-closed-icon"></i>
                                            <i class="fas fa-times tm-menu-opened-icon"></i>
                                        </span>
                                    </button>
                                    <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                                        <ul class="navbar-nav text-uppercase">
                                            <form action="/index/" method="GET" class="tm-subscribe-form">
                                                <input type="text" name="search" placeholder="Escribe un titulo..." style="height: 60px; width: 500px;">
                                                <button type="submit" href class="btn rounded-0 btn-primary tm-btn-small" style="height: 59px; width: 100px; text-align: left;" >Buscar</button>
                                            </form>
                                            {%if loggedin == "None"%}
                                                <li class="nav-item">
                                                    <a class="nav-link tm-nav-link" href="/logreg">Iniciar Sesion</a>
                                                </li>
                                            {%else%}
                                                <li class="nav-item">
                                                    <a class="nav-link tm-nav-link" href="/mylist">Mi Lista</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link tm-nav-link" href="/logout">LogOut</a>
                                                </li>
                                            {%endif%}
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
                <img src="{% static 'img/1.png' %}" alt="Image" width="100%" height="auto"> 
            </div>
            </div>
            </div>

			<!-- Header image -->
            <div id="tm-fixed-header-bg"></div> 
		</div>

		<!-- Page content -->
		<div class="container-fluid">
			<div class="mx-auto tm-content-container">
                <div class="row mt-5 pt-3">
                    <div class="col-xl-6 col-lg-12 mb-4">
                        <div class="tm-bg-gray p-5 h-100">
                            <h3 class="tm-text-primary mb-3">Registro</h3>
                            <form action="/registro/" method="POST" class="tm-reglogin-form">
                                {%if regExitoso == "False"%}
                                    <p class="mb-5" style="color: red; font-weight: bold;">Ese email ya existe!</p>
                                {%endif%}
                                {%if regExitoso == "True"%}
                                    <p class="mb-5" style="color: green; font-weight: bold;">Registro exitoso, se envio un mail de confirmacion</p>
                                {%endif%}
                                {%if diffPass == "True"%}
                                    <p class="mb-5" style="color: red; font-weight: bold;">Las contraseñas son distintas!</p>
                                {%endif%}
                                <input type="email" name="email" placeholder="E-mail..." required>
                                <input type="password" name="pass" placeholder="Password..." required>
                                <input type="password" name="pass2" placeholder="Repite Contraseña..." required>
                                <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">Registrame!</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 mb-4">
                        <div class="tm-bg-gray p-5 h-100">
                            <h3 class="tm-text-primary mb-3">Entrar</h3>
                            <p class="mb-5">Entra en tu cuenta!</p>
                            <form action="/login/" method="POST" class="tm-reglogin-form">
                                {%if loginState == "nomail" or loginState == 'wrongpass'%}
                                    <p class="mb-5" style="color: red; font-weight: bold;">Usuario o contraseña incorrectos</p>
                                {%endif%}
                                {%if loginState == "inactive"%}
                                    <p class="mb-5" style="color: red; font-weight: bold;">Esta cuenta se encuentra inactiva, revisa tu casilla de email para activarla</p>
                                {%endif%}
                                {%if loginState == "verification"%}
                                    <p class="mb-5" style="color: green; font-weight: bold;">Verificacion exitosa! Podes logearte en tu cuenta.</p>
                                {%endif%}
                                {%if loginState == "ok"%}
                                    <p class="mb-5" style="color: green; font-weight: bold;">Login exitoso!</p>
                                {%endif%}
                                <input type="text" name="email" placeholder="E-mail..." required>
                                <input type="password" name="pass" placeholder="Contraseña..." required>
                                <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">Login</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 pt-3">
                    <div class="col-xl-6 col-lg-12 mb-4">
                        <div class="tm-bg-gray p-5 h-100">
                            <h3 class="tm-text-primary mb-3">¿Querés recibir noticias sobre los últimos productos?</h3>
                            <p class="mb-5">Suscribite para estar al día con todo lo nuevo!</p>
                            <form action="" method="GET" class="tm-subscribe-form">
                                <input type="text" name="email" placeholder="E-mail..." required>
                                <button type="submit" class="btn rounded-0 btn-primary tm-btn-small">Suscribirme</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                        <div class="p-5 tm-bg-gray">
                            <h3 class="tm-text-primary mb-4">Lo último</h3>
                            <ul class="list-unstyled tm-footer-links">
                                <li><a href="">Boku No Hero Academia</a></li>
                                <li><a href="">Kimetsu no Yaiba</a></li>
                                <li><a href="">A Certain Scientific Railgun</a></li>
                                <li><a href="">JoJo's Bizarre Adventure</a></li>
                            </ul>    
                        </div>                        
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-4">
                        <div class="p-5 tm-bg-gray h-100">
                            <h3 class="tm-text-primary mb-4">Encontranos en</h3>
                            <ul class="list-unstyled tm-footer-links">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Privacidad</a></li>
                            </ul>
                        </div>                        
                    </div>
                </div> <!-- row -->

                <footer class="row pt-5">
                    <div class="col-12">
                        <p class="text-right">Copyright 2020</p>
                    </div>
                </footer>
			</div> <!-- .tm-content-container -->
		</div>
	</div>

    <script>
    	$(document).ready(function() {
    		$('.tm-likes-box').click(function(e) {
    			e.preventDefault();
    			$(this).toggleClass('tm-liked');

    			if($(this).hasClass('tm-liked')) {
    				$('#tm-likes-count').html('486 likes');
    			} else {
    				$('#tm-likes-count').html('485 likes');
    			}
    		});
    	});
    </script>
</body>
</html>